
<div class="container-fluid">



    <div class="row">
        <div class="col">
            <div class="card shadow mb-4">


                <form asp-controller="BOCWServiceRoutine" asp-action="FetchPaymentResponse" method="post">
                    <div class="card-header py-2 bg-warning d-flex justify-content-between">
                        <span class="text-blck"><i class='bx bx-list-ul align-middle'></i>Payment Response</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8 mt-8">
                                <button type="submit" id="btnSubmit" class="btn btn-success">
                                    <i class="bi bi-check-lg me-1"></i>Fetch Payment Response File
                                </button>
                            </div>
                        </div>
                    </div>


                </form>

            </div>
        </div>


    </div>

</div>
