@using LabourCommissioner.Abstraction.DataModels
@using LabourCommissioner.Common.Utility
@using System.Web
@using LabourCommissioner.Views.Shared.Components.SearchBar
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using System.Security.Claims
@model DistrictMaster


@{
    ViewData["Title"] = "District Add Details";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";

    bool isfilled = ViewBag.isFilled;

}

<style>
    section#services {
        margin-top: 38px;
    }

    .bg-primary, .badge-primary, .card-primary {
        background: #e3a800 !important;
        border-color: var(--navy-primary) !important;
        color: white !important;
    }
</style>
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">Add District</h2>
</section>


<main id="main">
    <section id="services" class="services services2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <form asp-controller="Masters" asp-action="AddUpdateDeleteDistrictMaster" method="post">
                        <input type="hidden" asp-for="districtid" />
                        <div class="card">
                            <div class="card-header card-head-bg">
                                <div class="card-header py-2 bg-primary d-flex justify-content-between align-items-center">
                                    <span class="text-white"><i class='bx bx-list-ul align-middle'></i>Add District</span>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>



                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-horizontal form-bordered">
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">District Name : <span class="text-danger font-weight-bold">*</span></label>
                                                <div class="control-form col-md-3">
                                                    <input asp-for="districtname" name="districtname" type="text" maxlength="50" id="districtname" class="form-control">
                                                    <span id="body_rfvtxtDistrictName" style="color:Red;display:none;">Please Enter District Name</span>
                                                    <span id="body_revtxtDistrictName" style="color:Red;display:none;">Allows Only Alphabets &amp; Space (A-Z,a-z) and Max 50 Characters</span>
                                                </div>
                                                <label class="control-label col-md-3">District Name : <span class="text-danger font-weight-bold">*</span><br>(in Gujarati)</label>
                                                <div class="control-form col-md-3">
                                                    <input asp-for="districtnameguj" name="districtnameguj" type="text" maxlength="150" id="districtnameguj" class="form-control">
                                                    <span id="body_rfvtxtDistrictNameGuj" style="color:Red;display:none;">Please Enter District Name in Gujarati</span>
                                                    <span id="body_revtxtDistrictNameGuj" style="color:Red;display:none;">Use Charchers except (&lt; and &gt;). Maximum 100 characters are Allowed</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">District Head Office Name : <span class="text-danger font-weight-bold">*</span></label>
                                                <div class="control-form col-md-3">
                                                    <input asp-for="districtheadofficename" name="districtheadofficename" type="text" maxlength="50" id="districtheadofficename" class="form-control">
                                                    <span id="body_rfvtxtDistrictHeadOfficeName" style="color:Red;display:none;">Please Enter District Head Office Name</span>
                                                    <span id="body_revtxtDistrictHeadOfficeName" style="color:Red;display:none;">Allows Only Alphabets &amp; Space (A-Z,a-z) and Max 50 Characters</span>
                                                </div>
                                                <label class="control-label col-md-3">District Head Office Name : <span class="text-danger font-weight-bold">*</span><br>(in Gujarati)</label>
                                                <div class="control-form col-md-3">
                                                    <input asp-for="districtheadofficenameguj" name="districtheadofficenameguj" type="text" maxlength="150" id="districtheadofficenameguj" class="form-control">
                                                    <span id="body_rfvtxtDistrictHeadOfficeNameGuj" style="color:Red;display:none;">Please Enter District Head Office Name in Gujarati</span>
                                                    <span id="body_revtxtDistrictHeadOfficeNameGuj" style="color:Red;display:none;">Use Charchers except (&lt; and &gt;). Maximum 100 characters are Allowed</span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="control-label col-md-3">District Code : <span class="text-danger font-weight-bold">*</span></label>
                                                <div class="control-form col-md-3">
                                                    <input asp-for="districtcode" name="districtcode" type="text" maxlength="3" id="districtcode" class="form-control">
                                                    <span id="body_rfvDistrictCode" class="code" style="color:Red;display:none;">Please Enter District Code</span>
                                                    <span id="body_revDistrictCode" style="color:Red;display:none;">Value must be numeric</span>
                                                </div>
                                                <label class="control-label col-md-3">Is Active ? </label>
                                                <div class="control-form col-md-3">
                                                    <label class="c-checkbox">
                                                        <input asp-for="isactive" id="isactive" type="checkbox" name="isactive" checked="checked">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="card-footer clearfix">
                                <div class="text-center">
                                    <input type="submit" name="ctl00$body$btnSave" value="Save" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$body$btnSave&quot;, &quot;&quot;, true, &quot;vgSave&quot;, &quot;&quot;, false, false))" id="body_btnSave" class="btn btn-primary">
                                    <input type="submit" name="ctl00$body$btnCancel" value="Cancel" id="body_btnCancel" class="btn btn-secondary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
</main>


<script src="~/js/Common.js"></script>