@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">Conatct Us -  સંપર્ક</h2>
</section>
<!-- End Hero -->



<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container pt-5">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="p-4 shadow">
                        <h5>Gujarat labour welfare board</h5><hr />
                        <p>
                            <span style="font-weight:bold"><i class="bx bx-building me-2"></i>Office address:</span>
                            Shramyogi Kalyan Bhavan, "G" colony, Opp. Water Tank, Sukhramnagar , Ahmedabad Gujarat. 380021<br><br />
                            <span style="font-weight:bold"><i class="bx bx-phone  me-2"></i> Phone No. :</span> 079-22773304-5-6<br><br />
                            <span style="font-weight:bold"><i class="bx bx-printer  me-2"></i> Fax No. :</span> 079-22773305<br><br />
                            <span style="font-weight:bold"><i class="bx bx-envelope  me-2"></i> Email: </span><a href="mailto:glwb1961@gmail.com">support-glwb@gujarat.gov.in</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4 shadow">
                        <h5>ગુજરાત શ્રમયોગી કલ્યાણ બોર્ડ</h5><hr />
                        <p>
                            <span style="font-weight:bold"><i class="bx bx-building me-2"></i>સરનામું :</span>
                            શ્રમયોગી કલ્યાણ ભવન, 'જી' કોલોની,  પાણીની ટાંકી સામે, સુખરામનગર, અમદાવાદ-૩૮૦૦૨૧, ગુજરાત<br><br />
                            <span style="font-weight:bold"><i class="bx bx-phone  me-2"></i> ફોન નં :</span> ૦૭૯-૨૨૭૭૩૩૦૪-૦૫-૦૬<br><br />
                            <span style="font-weight:bold"><i class="bx bx-printer  me-2"></i> ફેક્સ નં : </span> ૦૭૯-૨૨૭૭૩૩૦૫<br><br />
                            <span style="font-weight:bold"><i class="bx bx-envelope  me-2"></i> ઇમેઇલ: </span><a href="mailto:glwb1961@gmail.com">support-glwb@gujarat.gov.in</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4 shadow">
                        <h5>Building and other construction Worker's Welfare Board</h5><hr />
                        <p>
                            <span style="font-weight:bold"><i class="bx bx-building me-2"></i>Office Address :</span>
                            Shram Bhavan Compound,
Beside Gun House,
Rustam Cama Road, Khanpur,
Ahmedabad - 380001
Gujarat.<br><br />
                            <span style="font-weight:bold"><i class="bx bx-phone  me-2"></i> Phone No. :</span> 079-25502271<br><br />
                        </p>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="p-4 shadow">
                        <h5>ગુજરાત મકાન અને અન્‍ય બાંધકામ શ્રમયોગી કલ્‍યાણ બોર્ડ</h5><hr />
                        <p>
                            <span style="font-weight:bold"><i class="bx bx-building me-2"></i>ઓફિસનુ સરનામું :</span>
                            શ્રમભવન કમ્પાઉન્ડ,
ગન હાઉસની બાજુમાં
રુસ્તમ કામા રોડ, ખાનપુર,
અમદાવાદ-૩૮૦૦૦૧
ગુજરાત.<br><br />
                            <span style="font-weight:bold"><i class="bx bx-phone  me-2"></i> ફોન નંબર. :</span> ૦૭૯-૨૫૫૦૨૨૭૧<br><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
