<!-- ======= Hero Section ======= -->
<section id="hero" class="hero2">
    <h2 class="animate__animated animate__fadeInDown">Dashboard</h2>
</section>
<!-- End Hero -->



<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container-fluid pt-5">

            <div class="row mb-3">

                <div class="col">
                    <div class="p-3 rounded-3 border border-primary">
                        <div class="d-flex align-items-sm-center  flex-column flex-sm-row justify-content-start justify-content-sm-between">
                            <h5 class="desc text-primary"><i class='bx bxs-user-badge'></i> Title Place Here</h5>
                            <div class="d-flex align-items-sm-center">
                                label:  <select class="form-select form-select-sm ms-2">
                                    <option>11</option>
                                    <option>11</option>
                                    <option>11</option>
                                </select>
                            </div>
                        </div>
                         
                    </div>
                </div>

            </div>

            <div class="row dashboard-block">



                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-primary">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-primary">
                                        346
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-primary"><i class='bx bx-list-check'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-success">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-success">
                                        115
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-success"><i class='bx bx-check-circle'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-info">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-info">
                                        92
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-info"><i class='bx bxs-trash'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-danger">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-danger">
                                        9
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-danger"><i class='bx bxs-edit'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>

            <div class="row dashboard-block flex-row-reverse">



                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-primary">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-primary">
                                        346
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-primary"><i class='bx bxs-user-badge'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-success">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-success">
                                        115
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-success"><i class='bx bx-check-circle'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-info">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-info">
                                        92
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-info"><i class='bx bxs-trash'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 dashboard-status">
                    <a href="listing.html" class="card pull-up border-danger">
                        <div class="card-content">
                            <div class="card-body dashboard-count">
                                <div class="media d-flex position-relative">
                                    <div class="media-right-icon text-danger">
                                        9
                                    </div>
                                    <div class="media-body align-self-center">
                                        <h5 class="desc text-danger"><i class='bx bxs-edit'></i> Title Place Here</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
        </div>


    </section>
</main>



